<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->

<script id="tripedit.html" type="text/ng-template">
	<span>Source</span>
 	<input type="text" ng-model="data.source">
 	<span>Destination</span>
 	<input type="text" ng-model="data.destination">

  <span>Time</span>
  <input type="text" ng-model="data.planned_hours">

 	<span>Date</span>
 	<input type="date"> 	 
</script>

<ion-view view-title="{{plan.name}}">

  <ion-content class="padding">

  	<button href="#" ng-click="editTrip()">Add Trip</button>
  	<br />
  		<span>Name</span>
  		<input type="text" ng-model="data.name"  ng-change="nameChanged()"/>
  	 

      Rental: RS {{amount}} <br />
      Wait time: RS {{wait_time_amount}} <br />
      Total: RS {{total}}

    <h3>Trips</h3>


   
   <ion-list show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
    
      <ion-item   ng-repeat="trip in trips.models">
         
         <a href="#/tab/planner/trip/{{plan.id}}/{{trip.id}}">
          <h2>{{trip.get('source')}} --> {{trip.get('destination')}}</h2> <br />
          {{trip.get('distance')}} || {{trip.get('duration')}} <br />

          RS {{trip.get('amount')}} <span ng-if="trip.get('wait_time')"> Wait Time: RS {{trip.get('wait_time')}}</span>
         </a>
    
          <button ng-click="editTrip(trip.id)">Edit</button>
  
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
