<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->

<script id="tripedit.html" type="text/ng-template">
	<span>Source</span>
 	<input type="text" ng-model="data.source">
 	<span>Destination</span>
 	<input type="text" ng-model="data.destination"> 	 
</script>

<ion-view view-title="{{plan.name}}">

  <ion-content class="padding">
  	<button href="#" ng-click="addTrip()">Add Trip</button>
    <h3>Trips</h3>
   
   <ion-list>
      <ion-item class="item-avatar" ng-repeat="trip in trips" type="item-text-wrap" href="#/tab/planner/trip/{{plan.id}}/{{trip.id}}">
         
        <h2>{{trip.source}} --> {{trip.destination}}</h2>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
