<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->

<script id="tripedit.html" type="text/ng-template">
	<span>Source</span>
 	<input type="text" id="pac-input" ng-model="data.source">
 	<span>Destination</span>
 	<input type="text" ng-model="data.destination">
  <span>Time</span>
  <input type="text" ng-model="data.planned_hours">
 	
  <span>Date</span>
 	<input type="date" ng-model="data.plannedAt"> 	 
   
   <span>Hour</span>
  
  <select ng-options="h as h for h in hours track by h"
  ng-model="data.hour"  width="50">
     
  </select>

  <span>Minute</span>
  <select ng-options="m as m for m in minutes track by m"
  ng-model="data.minute"  width="50">
     
  </select>

</script>

<ion-view view-title="{{plan.attributes.name}}" id="">
  <ion-content class="padding">
  		<div class="list">
        <h4>New Plan</h4>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="plan_data.name" ng-change="nameChanged()" style="border: 1px solid #ccc; margin-left: 3px;"/>

          
            

        </label>

        <p>
          <span> {{message}} </span>
        </p>
      </div>
      <h4>Total Trip Cost:</h4>
      <div>
        Rental: RS {{amount}} <br />
        Wait time: RS {{wait_time_amount}} <br />
        Total: RS {{total}}
      </div>
      <h4>Trips</h4>
       <a href="#" class="addTripBtn" ng-click="editTrip()">Add Trip</a>
       <ion-list show-delete="shouldShowDelete"
              show-reorder="shouldShowReorder"
              can-swipe="listCanSwipe">
        
          <ion-item ng-repeat="trip in trips.models">
             
             <a href="#/tab/planner/trip/{{plan.id}}/{{trip.id}}">
              <h2>{{trip.get('BookedAt')}}<br/>{{trip.get('source')}} --> {{trip.get('destination')}}</h2> <br />
              {{trip.get('distance')}} || {{trip.get('duration')}} <br />

              RS {{trip.get('amount')}} <span ng-if="trip.get('wait_time')"> Wait Time: RS {{trip.get('wait_time')}}</span>
             </a>
        
              <button ng-click="editTrip(trip.id)">Edit</button>

              <button ng-click="deleteTrip(trip)">Delete</button>
 
              <button ng-if="trip.attributes.booked" ng-click="cancelTrip(trip)">Cancel My Ride</button>
              <button ng-if="!trip.attributes.booked" ng-click="bookTrip(trip)">Book My Ride</button>
      
          </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
