<ion-view view-title="Planner">
  <ion-content>
  	<a href="#tab/planner/new" class="button button-balanced">New Plan</a>
    <h4 style="margin-left:5px;">Plan List</h4>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="plan in plans.models" type="item-text-wrap" >
        <img ng-src="img/plan.png" style="width:50px; height:50px; "> 
        <a href="#/tab/planner/{{plan.id}}"><h2>{{plan.get('name')}}</h2></a>
        <br />
        <button ng-click="deletePlan(plan)" class="button button-assertive">Delete</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
