<ion-view view-title="{{plan.name}}">
  <ion-content class="padding">
  	 <h4>Route Details</h4>
      <table class="gridtable">
      <tr>
      <th>Distance</th><th>Duration</th><th>Cost</th>
      </tr>
      <tr ng-repeat="data in matrixData">
      <td>{{data["distance"]["text"]}}</td><td>{{data["duration"]["text"]}}</td><td>{{data["cost"]}}</td>
      </tr>
      </table>
     <p>Map will highlight the followings items in this route for your different needs:</p>
     <p>Bank, Doctor, Restaurant, Pharmacy, Police</p>
     <!-- <ul>
      <li>Bank</li>
      <li>Doctor</li>
      <li>Restaurant</li>
      <li>Pharmacy</li>
      <li>Police</li>
     </ul> -->

    <!-- MAPs for different Categories -->
    <div id="map-canvas"></div>
  </ion-content>  
</ion-view>
