<ion-view view-title="{{plan.name}}">
  <ion-content class="padding">
  	 <h4>Possible Routes</h4>
     <div>
  		 <div class="row">
          <div class="col-25">Distance</div>
          <div class="col-25">Duration</div>
          <div class="col-25">Cost</div>
      </div>

  		<div class="row" ng-repeat="data in matrixData">
          <div class="col-25">
            {{data["distance"]["text"]}}
          </div>
          <div class="col-25">
            {{data["duration"]["text"]}}
          </div>
          <div class="col-25">
            {{data["cost"]}}
          </div>
      </div>
    </div>
     <p> The below map will highlight the followings:</p>
     <p>'bank', 'doctor', 'restaurant', 'pharmacy', 'police'</p>

    <!-- MAPs for different Categories -->
    <div id="map-canvas"></div>
  </ion-content>  
</ion-view>
