<ion-view view-title="{{plan.name}}">
  <ion-content class="padding">
  	 <h4>Route Details</h4>
      <table class="gridtable">
      <tr>
      <th>Distance</th><th>Duration</th><th>Cost (Rs.)</th>
      </tr>
      <tr ng-repeat="data in matrixData">
      <td>{{data["distance"]["text"]}}</td><td>{{data["duration"]["text"]}}</td><td>{{data["cost"]}}</td>
      </tr>
      </table>
     <p>Map will highlight the followings items in this route for your different needs:</p>
     <p>Bank, Doctor, Restaurant, Pharmacy, Police</p>

    <!-- MAPs for different Categories -->
    <div id="map-canvas" style="width:100%;"></div>
  </ion-content>  
</ion-view>
